@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Inter;
  }

  html,
  body,
  #app {
    @apply h-full w-full;
  }
}

:root {
  --primary: 139 92 246;
  --background: 38 38 38;
  --text: 255 255 255;
  --border: 215 215 215;
  --error: 241 38 38;
  --success: 38 241 58;
  --warning: 249 146 52;
}
